In [1]:
import sys
sys.path.append('./../')

In [2]:
import pandas as pd
from pathlib import Path
from src.input_data.table import Table
from src.io import read_jsonl

# Example statements

In [3]:
# read data (download data to appropriate directory before running the following cells)
dfile = Path("./../training_data/se_direct/test.jsonl",)
data = read_jsonl(dfile.parent, dfile.name, lines_to_read=100)
# let's see the keys inside one item
data[2].keys()

dict_keys(['structured_data', 'source', 'cell_annotations', 'unstructured_data', 'ud_type', 'augmentation_status', 'current_hash'])

In [4]:
# is this table augmented or original
data[2]['augmentation_status']

'augmented'

In [5]:
# original table
t = Table(table=pd.DataFrame(data[2]['unstructured_data']), annotations=data[2]['structured_data'],)
t.to_dataframe()

,0,1,2,3
0,Australia - Scope 1,2021,2020,2022
1,Emissions from fuel consumption (tCO$_{2}$e),"17,957","14,574","19,561"
2,Emissions from Killara Feedlot cattle (tCO$_{2...,"37,462",-,"44,826"
3,Fuel consumption (GJ),"255,873","207,569","278,969"
4,Australia - Scope 2,,,
5,Electricity consumption from the grid (GJ),"24,201","41,051","29,104"
6,Total renewable electricity (MWh),-,-,"8,084 (100%)"
7,Voluntary LGCs,-,-,"6,581"
8,Electricity consumption from the grid (MWh),"6,722","11,403","8,084"
9,Mandatory LGCs 1,-,-,"1,503"
10,Emissions from purchased electricity (tCO$_{2}...,"4,982","8,946","5,801"
11,Total energy (Australia),,,
12,Total energy consumption (GJ),"280,074",,"308,073"
13,China - Scope 2,,,
14,Electricity consumption from the grid (GJ),"2,466",-,"2,580"
15,Scope 2 GHG emissions from electricity consump...,427,-,385

In [6]:
t.annotations

[{'property': ['Australia - Scope 1 : Emissions from fuel consumption (tCO$_{2}$e) ',
   'time'],
  'property_value': ['17,957 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['595552ba529257f919c4da9696e07990',
   '595552ba529257f919c4da9696e07990']},
 {'property': ['Australia - Scope 1 : Emissions from fuel consumption (tCO$_{2}$e) ',
   'time'],
  'property_value': ['14,574 ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['3c47364a596f1ca1d3850cd41d87568c',
   '3c47364a596f1ca1d3850cd41d87568c']},
 {'property': ['Australia - Scope 1 : Emissions from fuel consumption (tCO$_{2}$e) ',
   'time'],
  'property_value': ['19,561 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['de51e3a418aa32420ca753dbc6726e74',
   'de51e3a418aa32420ca753dbc6726e74']},
 {'property': ['Australia - Scope 1 : Emissions from Killara Feedlot cattle (tCO$_{2}$e) ',
   'time'],
  'property_value': ['37,462 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['b895e214c874a3c3d6296d88a74e7549',
   'b895e214c874a3c3d6296d88a74e7549']},
 {'property': ['Australia - Scope 1 : Emissions from Killara Feedlot cattle (tCO$_{2}$e) ',
   'time'],
  'property_value': ['- ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['afb6df06a5b4329a9c28b3c8bf805542',
   'afb6df06a5b4329a9c28b3c8bf805542']},
 {'property': ['Australia - Scope 1 : Emissions from Killara Feedlot cattle (tCO$_{2}$e) ',
   'time'],
  'property_value': ['44,826 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['63577205cba0c9d1e4599e11d37fad73',
   '63577205cba0c9d1e4599e11d37fad73']},
 {'property': ['Australia - Scope 1 : Fuel consumption (GJ) ', 'time'],
  'property_value': ['255,873 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['b46822f70c50460fcd62a54e2d212069',
   'b46822f70c50460fcd62a54e2d212069']},
 {'property': ['Australia - Scope 1 : Fuel consumption (GJ) ', 'time'],
  'property_value': ['207,569 ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['41ac91d96e4c2f26b69d38e5e8b0a4a7',
   '41ac91d96e4c2f26b69d38e5e8b0a4a7']},
 {'property': ['Australia - Scope 1 : Fuel consumption (GJ) ', 'time'],
  'property_value': ['278,969 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['28b5d98e13521337f8273f89099bb5d7',
   '28b5d98e13521337f8273f89099bb5d7']},
 {'property': ['Australia - Scope 2 : Electricity consumption from the grid (GJ) ',
   'time'],
  'property_value': ['24,201 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['619dde49745267f9b837e5ff66f731d9',
   '619dde49745267f9b837e5ff66f731d9']},
 {'property': ['Australia - Scope 2 : Electricity consumption from the grid (GJ) ',
   'time'],
  'property_value': ['41,051 ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['ee25e8198cf154dc673671f544d7241d',
   'ee25e8198cf154dc673671f544d7241d']},
 {'property': ['Australia - Scope 2 : Electricity consumption from the grid (GJ) ',
   'time'],
  'property_value': ['29,104 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['83b1fb5b29e835f7ef6640525fb9eb09',
   '83b1fb5b29e835f7ef6640525fb9eb09']},
 {'property': ['Australia - Scope 2 : Total renewable electricity (MWh) ',
   'time'],
  'property_value': ['- ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['91411c193cb3c0d0dd05fdfd90467f6a',
   '91411c193cb3c0d0dd05fdfd90467f6a']},
 {'property': ['Australia - Scope 2 : Total renewable electricity (MWh) ',
   'time'],
  'property_value': ['- ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['f41d02fe8e8b108dae0fd77115e277bd',
   'f41d02fe8e8b108dae0fd77115e277bd']},
 {'property': ['Australia - Scope 2 : Total renewable electricity (MWh) ',
   'time'],
  'property_value': ['8,084 (100%) ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['fb390821e754554b1630a9754c5bcb30',
   'fb390821e754554b1630a9754c5bcb30']},
 {'property': ['Australia - Scope 2 : Voluntary LGCs ', 'time'],
  'property_value': ['- ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['774201908a6afe20286ab6f7295696a5',
   '774201908a6afe20286ab6f7295696a5']},
 {'property': ['Australia - Scope 2 : Voluntary LGCs ', 'time'],
  'property_value': ['- ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['d3afdc94957ce537e309228d90b12e12',
   'd3afdc94957ce537e309228d90b12e12']},
 {'property': ['Australia - Scope 2 : Voluntary LGCs ', 'time'],
  'property_value': ['6,581 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['4f9b99108f01a47294355a02093ab814',
   '4f9b99108f01a47294355a02093ab814']},
 {'property': ['Australia - Scope 2 : Electricity consumption from the grid (MWh) ',
   'time'],
  'property_value': ['6,722 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['4bf623d3353cae0e6089de2347617ce0',
   '4bf623d3353cae0e6089de2347617ce0']},
 {'property': ['Australia - Scope 2 : Electricity consumption from the grid (MWh) ',
   'time'],
  'property_value': ['11,403 ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['892ff26f222477e5af1669761046cb6e',
   '892ff26f222477e5af1669761046cb6e']},
 {'property': ['Australia - Scope 2 : Electricity consumption from the grid (MWh) ',
   'time'],
  'property_value': ['8,084 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['ef5bf235c912d23df1c98cb7dfbcb361',
   'ef5bf235c912d23df1c98cb7dfbcb361']},
 {'property': ['Australia - Scope 2 : Mandatory LGCs 1 ', 'time'],
  'property_value': ['- ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['8d964d8a0cab1432a239d40007cabcf2',
   '8d964d8a0cab1432a239d40007cabcf2']},
 {'property': ['Australia - Scope 2 : Mandatory LGCs 1 ', 'time'],
  'property_value': ['- ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['42ee4762be45ef2ead31307d5dd4f06f',
   '42ee4762be45ef2ead31307d5dd4f06f']},
 {'property': ['Australia - Scope 2 : Mandatory LGCs 1 ', 'time'],
  'property_value': ['1,503 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['69b63402ca7872c464929fc29eb7b2c6',
   '69b63402ca7872c464929fc29eb7b2c6']},
 {'property': ['Australia - Scope 2 : Emissions from purchased electricity (tCO$_{2}$e) 2 ',
   'time'],
  'property_value': ['4,982 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['102a90a9d0aff698db93118a33d52909',
   '102a90a9d0aff698db93118a33d52909']},
 {'property': ['Australia - Scope 2 : Emissions from purchased electricity (tCO$_{2}$e) 2 ',
   'time'],
  'property_value': ['8,946 ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['86ec01bacc422eea2f6ed2234ee1dffa',
   '86ec01bacc422eea2f6ed2234ee1dffa']},
 {'property': ['Australia - Scope 2 : Emissions from purchased electricity (tCO$_{2}$e) 2 ',
   'time'],
  'property_value': ['5,801 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['1e3a47201eb1cbc58013558a72cd8664',
   '1e3a47201eb1cbc58013558a72cd8664']},
 {'property': ['Total energy (Australia) : Total energy consumption (GJ) ',
   'time'],
  'property_value': ['280,074 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['04a785e807e256e31731719570bfe591',
   '04a785e807e256e31731719570bfe591']},
 {'property': ['Total energy (Australia) : Total energy consumption (GJ) ',
   'time'],
  'property_value': ['308,073 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['28f782167551282313cf0ffd75b9c3f0',
   '28f782167551282313cf0ffd75b9c3f0']},
 {'property': ['China - Scope 2 : Electricity consumption from the grid (GJ) ',
   'time'],
  'property_value': ['2,466 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['8e9a6ca887beca4352ebe30d755e5a94',
   '8e9a6ca887beca4352ebe30d755e5a94']},
 {'property': ['China - Scope 2 : Electricity consumption from the grid (GJ) ',
   'time'],
  'property_value': ['- ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['d713c3183164c5b308db62f30f7c07d7',
   'd713c3183164c5b308db62f30f7c07d7']},
 {'property': ['China - Scope 2 : Electricity consumption from the grid (GJ) ',
   'time'],
  'property_value': ['2,580 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['a3079838da2ab44e6b71e0b473e89397',
   'a3079838da2ab44e6b71e0b473e89397']},
 {'property': ['China - Scope 2 : Scope 2 GHG emissions from electricity consumption (tCO$_{2}$e) ',
   'time'],
  'property_value': ['427 ', '2021 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['29929d87e2efef8989b207f471272249',
   '29929d87e2efef8989b207f471272249']},
 {'property': ['China - Scope 2 : Scope 2 GHG emissions from electricity consumption (tCO$_{2}$e) ',
   'time'],
  'property_value': ['- ', '2020 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['2e70360ccc972c77814f699b39362a07',
   '2e70360ccc972c77814f699b39362a07']},
 {'property': ['China - Scope 2 : Scope 2 GHG emissions from electricity consumption (tCO$_{2}$e) ',
   'time'],
  'property_value': ['385 ', '2022 '],
  'unit': ['', ''],
  'subject': ['', ''],
  'subject_value': ['', ''],
  'predicate_hash': ['704e945ff24896da015ea13c4b3f2ff4',
   '704e945ff24896da015ea13c4b3f2ff4']}]

# Example of converting labels table to statements

In [7]:
# read data (download data to appropriate directory before running the following cells)
dfile = Path("./../training_data/se_indirect_2d/test.jsonl",)
data = read_jsonl(dfile.parent, dfile.name, lines_to_read=100)
data[0].keys()

dict_keys(['table', 'collection', 'annotations', 'verifications', 'classification', 'cell_annotations', 'ds_table', 'source', 'verified', 'augmentation_status'])

In [8]:
# is this table augmented or original
data[0]['augmentation_status']

'original'

In [9]:
# original table
t = Table(table=pd.DataFrame(data[0]['table']), annotations=data[0]['annotations'],cell_annotations=pd.DataFrame(data[0]['cell_annotations']))
t.to_dataframe()

,0,1,2,3,4,5,6,7
0,Emissions in scope,Base year emissions (kiloton CO$_{2}$e),Reduction target (%),Base year,Target year,Scope,Use of offsets or removals,SBTi status
1,Scope 1,75,,,,,,
2,Scope 2 (market-based),185,,,,,,
3,Scope 3:,,35 (all scopes),2016,2022,Company-wide,None,Verified (2017)
4,Business travel,154,,,,,,
5,Downstream transportation,146,,,,,,
6,Total,560,,,,,,

In [10]:
# currently the statements are empty
t.annotations

[]

In [11]:
# labels table
t.cell_annotations

,0,1,2,3,4,5,6,7
0,header_1,unit_value,key,time_property,key,key,key,key
1,property,property_value,empty,empty,empty,empty,empty,empty
2,property,property_value,empty,empty,empty,empty,empty,empty
3,property,empty,key_value,time_value,key_value,key_value,key_value,key_value
4,property,property_value,empty,empty,empty,empty,empty,empty
5,property,property_value,empty,empty,empty,empty,empty,empty
6,property,property_value,empty,empty,empty,empty,empty,empty

In [12]:
# convert labels table to statements:
t.convert_to_structured_data()
t.annotations

[{'property': ['Emissions in scope : Scope 1 '],
  'property_value': ['75 '],
  'unit': ['Base year emissions (kiloton CO$_{2}$e) '],
  'subject': [''],
  'subject_value': ['']},
 {'property': ['Emissions in scope : Scope 2 (market-based) '],
  'property_value': ['185 '],
  'unit': ['Base year emissions (kiloton CO$_{2}$e) '],
  'subject': [''],
  'subject_value': ['']},
 {'property': ['Emissions in scope : Business travel '],
  'property_value': ['154 '],
  'unit': ['Base year emissions (kiloton CO$_{2}$e) '],
  'subject': [''],
  'subject_value': ['']},
 {'property': ['Emissions in scope : Downstream transportation '],
  'property_value': ['146 '],
  'unit': ['Base year emissions (kiloton CO$_{2}$e) '],
  'subject': [''],
  'subject_value': ['']},
 {'property': ['Emissions in scope : Total '],
  'property_value': ['560 '],
  'unit': ['Base year emissions (kiloton CO$_{2}$e) '],
  'subject': [''],
  'subject_value': ['']}]